*{
    padding: 0;
    margin: 0;
    text-align: center;
}

h1{
    height: 5rem;
    background-color: black;
    color: white;
    line-height: 5rem;
}


.choice{
    height: 165px;
    width: 165px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{

    background-color: black;
    cursor: pointer;
}

.choices{
    display: flex;
    gap: 50px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 100px;
    gap: 70px;
}

#user-score, #comp-score{

    font-size: 3rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    font-size: 2rem;
    margin-top: 30px;
    text-align: center;
    background-color: blueviolet;
    color: white;
    padding: 1rem;
    display: inline;
    border-radius: 20px;
    font-weight: 900;
}